body {
	--x: 0px;
	--y: 0px;
	image-rendering: pixelated;
	background: url(images/spacebg1.png), url(images/spacebg2.png), url(images/spacebg3.png);
	background-blend-mode: screen, screen, screen;
    background-repeat: repeat, repeat, repeat;
}

.nyancat{
	position: absolute;
	top: 0x;
	left: 600px;
}

.upload{
	position: absolute;
	top: 200px;
	left: 650px;
}

.flier {
	pointer-events: none;
}

.flier {
/* The animation duration can change the speed as well, lower for faster
higher for slower */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Edit the X and Y to change the location on the screen. There
 is probably a better way to do this besides repeating the code
 individually every time but I can't think of it right now.
 The keyframes name corresponds with what number it is, e.g.
 fly, fly2, fly3, etc.
 You can search for whichever icon is giving trouble via its name
 (coinCat) for example, and then you would see it is fly3, allowing
 easy editing later. Hopefully this can be optimized when moving
 to a framework/library. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

.balloonCat {
	pointer-events: none;
}

.balloonCat {
/* Adjust animation duration to change the element’s speed */
        animation: fly2 70s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly2 {

	98.001%, 0% {
                display: block;
		transform: translateX(-50%) translateY(60vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(70vw) translateY(-80%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(30vw) translateY(-50%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-90%) translateY(9vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-90%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(60vw) translateY(70vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(25vw) translateY(-160%) rotateZ(180deg)
	}

	95% {
		transform: translateX(80vw) translateY(200vh) rotateZ(0deg)
	}
}

.coinCat {
	pointer-events: none;
}

.coinCat {
/* Adjust animation duration to change the element’s speed */
        animation: fly3 80s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly3 {

	98.001%, 0% {
                display: block;
		transform: translateX(-40%) translateY(80vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(30vw) translateY(90%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(150vw) translateY(50%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-130%) translateY(15vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-150%) translateY(75%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(180vw) translateY(-25vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(30vw) translateY(125%) rotateZ(180deg)
	}

	95% {
		transform: translateX(100vw) translateY(-10vh) rotateZ(0deg)
	}
}

.ninjaCat {
	pointer-events: none;
}

.ninjaCat {
/* Adjust animation duration to change the element’s speed */
        animation: fly4 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly4 {

	98.001%, 0% {
                display: block;
		transform: translateX(20%) translateY(30vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(85vw) translateY(-125%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(30vw) translateY(-15%) rotateZ(0deg)
	}

	40% {
		transform: translateX(150%) translateY(30vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-125%) translateY(80%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(160vw) translateY(20vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(15vw) translateY(-75%) rotateZ(180deg)
	}

	95% {
		transform: translateX(-200vw) translateY(100vh) rotateZ(0deg)
	}
}

.pianoCat {
	pointer-events: none;
}

.pianoCat {
        animation: fly5 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

@keyframes fly5 {

	98.001%, 0% {
                display: block;
		transform: translateX(75%) translateY(-80vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(30vw) translateY(80%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(180vw) translateY(-60%) rotateZ(0deg)
	}

	40% {
		transform: translateX(20%) translateY(80vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(20%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(30vw) translateY(90vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(80vw) translateY(-85%) rotateZ(180deg)
	}

	95% {
		transform: translateX(100vw) translateY(200vh) rotateZ(0deg)
	}
}

.pirateCat {
	pointer-events: none;
}

.pirateCat {
        animation: fly6 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}


@keyframes fly6 {

	98.001%, 0% {
                display: block;
		transform: translateX(-70%) translateY(60vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(20vw) translateY(-90%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(-70vw) translateY(20%) rotateZ(0deg)
	}

	40% {
		transform: translateX(150%) translateY(70vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-70%) translateY(-75%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(120vw) translateY(90vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(50vw) translateY(-50%) rotateZ(180deg)
	}

	95% {
		transform: translateX(-15vw) translateY(200vh) rotateZ(0deg)
	}
}